:root {
  --color-grey-225-10-15: hsl(225, 10%, 15%); /* text */
  --color-grey-225-10-35: hsl(225, 10%, 35%); /* icons */
  --color-grey-225-10-55: hsl(225, 10%, 55%);
  --color-grey-225-10-75: hsl(225, 10%, 75%); /* lines */
  --color-grey-225-10-80: hsl(225, 10%, 80%); /* hover on grey bg */
  --color-grey-225-10-85: hsl(225, 10%, 85%); /* app window */
  --color-grey-225-10-90: hsl(225, 10%, 90%); /* button hover */
  --color-grey-225-10-95: hsl(225, 10%, 95%); /* backgrounds, hover */
  --color-grey-225-10-97: hsl(225, 10%, 97%); /* form element backgrounds */

  --color-blue-205-100-45: hsl(205, 100%, 45%); /* primary hover */
  --color-blue-205-100-50: hsl(205, 100%, 50%); /* primary */
  --color-blue-205-100-95: hsl(205, 100%, 95%);

  --color-green-150-86-44: hsl(150, 86%, 44%); /* success */

  --color-red-360-100-40: hsl(360, 100%, 40%); /* warning hover */
  --color-red-360-100-45: hsl(360, 100%, 45%); /* warning */
  --color-red-360-100-92: hsl(360, 100%, 92%); /* hover */
  --color-red-360-100-97: hsl(360, 100%, 97%); /* backgrounds */

  --color-orange-20-98-52: hsl(20, 98%, 52%); /* new badges */

  --color-white: hsl(0, 0%, 100%);
  --color-white-opacity-80: hsla(0, 0%, 100%, 80%);
  --color-black: hsl(0, 0%, 0%); 
  --color-black-opacity-10: hsla(0, 0%, 0%, 10%); 
  --color-black-opacity-30: hsla(0, 0%, 0%, 30%);
}

:root {
  --font-family: 'IBM Plex Sans', system-ui, Arial, sans-serif;
  --font-family-monospace: 'IBM Plex Mono', monospace;
  --font-size-default: 14px;
}


* {
  box-sizing: border-box;
}

html,
body,
#root {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

#modeler {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

#container {
  flex-grow: 1;
}

#properties-panel-container {
  position: relative;
  width: 300px;
  background: #f8f8f8;
  border-left: solid 1px #ccc;
}

.properties-panel-container__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.panel {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.panel:not(.open) {
  display: none;
}

.panel__links {
  background-color: var(--color-grey-225-10-95);
  border-bottom: solid 1px var(--color-grey-225-10-75);
  border-top: solid 1px var(--color-grey-225-10-75);
  display: flex;
  flex-direction: row;
}

.panel__link {
  font-size: 14px;
  color: var(--color-grey-225-10-35);
  background: none;
  border: none;
  border-bottom: solid 2px transparent;
  outline: none;
  padding: 4px 8px;
}

.panel__link--active {
  border-bottom: solid 2px var(--color-grey-225-10-35);
}

.panel__link-number {
  background-color: var(--color-grey-225-10-35);
  border-radius: 11px;
  color: var(--color-white);
  display: inline-block;
  margin-left: 6px;
  padding: 1px 7px;
}

.panel__body {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.panel__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

.linting-issue {
  display: flex;
  align-items: flex-start;
  padding: 4px 8px 2px 8px;
  border-bottom: solid 1px var(--color-grey-225-10-95);
}

.linting-issue--selected {
  background-color: var(--color-grey-225-10-95);
}

.linting-issue:last-child {
  border-bottom: none;
}

.linting-issue svg {
  fill: var(--color-red-360-100-45);
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.linting-issue__text {
  font-size: 14px;
  line-height: 20px;
  user-select: text;
}

.linting-issue * {
  user-select: text;
}

.linting-issue__link {
  display: inline-block;
  vertical-align: middle;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: var(--color-blue-205-100-95);
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 1px 4px;
  cursor: default;
}

.linting-issue__link:hover {
  background-color: var(--color-blue-205-100-50);
  color: var(--color-white);
}

.status-bar {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  flex: none;
  z-index: 1000;
  height: 32px;
  padding: 0;
  background-color: var(--color-grey-225-10-85);
  border-top: 1px solid var(--color-grey-225-10-75);
  color: var(--color-grey-225-10-15);
  font-size: 14px;
  line-height: 28px;
}

.status-bar > * {
  padding: 0 10px;
  user-select: none;
}

.status-bar .execution-platform {
  margin-top: 2px;
}

.status-bar button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 0;

  color: inherit;
  background-color: inherit;
  font-weight: normal;
  font-size: inherit;
  font-family: inherit;
  display: flex;
  flex-flow: row;
}

.status-bar button.has-errors {
  color: var(--color-red-360-100-45);
}

.status-bar button svg {
  fill: currentColor;
  margin-right: 2px;
  margin-left: -5px;
  width: 24px;
  height: 24px;
}

.status-bar button.has-errors svg {
  fill: var(--color-red-360-100-45);
}

.status-bar button:hover {
  background-color: var(--color-grey-225-10-80);
}

.status-bar button.active {
  background-color: var(--color-grey-225-10-75);
}

.status-bar button.active:hover {
  background-color: var(--color-grey-225-10-75);
}

.linting-annotation {
  opacity: 1;
}

body.opacity-1 .linting-annotation {
  opacity: 0.5;
}

body.opacity-1 .djs-overlays:not(.hover) .linting-annotation {
  opacity: 0.5;
}

body.opacity-1 .linting-annotation:hover,
body.opacity-1 .djs-overlays.hover .linting-annotation {
  opacity: 1 !important;
}

/* Variant 2 */
body.variant-2 .linting-annotation {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12px;
  padding: 1px;
  border-radius: 100px;
  color: var(--color-grey-225-10-35);
  /* background-color: var(--color-grey-225-10-95); */
  background-color: var(--color-red-360-100-45);
  cursor: default;
  z-index: 100000;
}

.linting-annotation span {
  /* background-color: var(--color-grey-225-10-90); */
  display: none;
}

.linting-annotation:hover span {
  /* background-color: var(--color-grey-225-10-90); */
  display: initial;
}

body.variant-2 .linting-annotation:hover {
  /* background-color: var(--color-grey-225-10-90); */
  opacity: 1;
}

body.variant-2 .linting-annotation svg {
  /* fill: var(--color-red-360-100-45); */
  fill: var(--color-white);
  width: 18px;
  height: 18px;
  /* margin-left: -4px; */
}

body.variant-2 .linting-annotation span {
  line-height: 18px;
  padding-right: 4px;
  padding-left: 2px;
  color: var(--color-white);
}

/* Variant 2 - Web Modeler */
/* body.variant-2 .linting-annotation {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12px;
  padding: 2px 2px;
  border-radius: 2px;
  color: var(--color-grey-225-10-35);
  background-color: var(--color-red-360-100-45);
  cursor: default;
  z-index: 100000;
} */

body .linting-annotation:hover {
  /* background-color: var(--color-grey-225-10-90); */
  opacity: 1;
}

/* body .linting-annotation svg {
  fill: var(--color-white);
  width: 20px;
  height: 20px;
}*/

body .linting-annotation span {
  line-height: 18px;
  padding-right: 4px;
  padding-left: 2px;
  color: var(--color-white);
}

body .linting-annotation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px;
  border-radius: 2px;
  background-color: var(--color-red-360-100-45);
  cursor: default;
  z-index: 100000;
}


body .linting-annotation > svg {
  fill: var(--color-white);
  width: 18px;
  height: 18px;
}